@*
	DDDN.CrossBlog.Blog.Areas.Blog.Views.Home.Index

	Copyright(C) 2017 Lukasz Jaskiewicz
	Author: Lukasz Jaskiewicz (lukasz@jaskiewicz.de, devdone@outlook.com)

	This program is free software; you can redistribute it and/or modify it under the terms of the
	GNU General Public License as published by the Free Software Foundation; version 2 of the License.

	This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
	warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the GNU General Public License for more details.

	You should have received a copy of the GNU General Public License along with this program; if not, write
	to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@inject IViewLocalizer Loc
@model IEnumerable<Post>

@{ ViewData["Title"] = "Newest posts"; }

<div id="posts_newest">
	@foreach (Post post in Model)
	{
		<div id="post_teasers">
			<h1>
				<a asp-action="Show" asp-route-id="@post.PostId">
					@if (!string.IsNullOrWhiteSpace(post.FirstHeaderText))
				{
						@post.FirstHeaderText
				}
				else if (!string.IsNullOrWhiteSpace(post.AlternativeTitle))
				{
						@post.AlternativeTitle
				}
				else
				{
						@:There's no title for this Post. Edit the post to add one.
				}
				</a>
			</h1>
			<p id="post_teaser">
				@if (!string.IsNullOrWhiteSpace(post.FirstParagraphHtml))
				{
					@Html.Raw(WebUtility.HtmlDecode((post.FirstParagraphHtml)))
				}
				else if (!string.IsNullOrWhiteSpace(post.AlternativeTeaser))
				{
					@post.AlternativeTeaser
				}
				else
				{
					@:There's no teaser for this Post. Edit the post to add one."

				}
			</p>
			<p class="mb-0"><i class="fa fa-calendar"></i> <strong>@post.Writer.Created.ToString("d MMMM yyyy", CultureInfo.CurrentCulture), by @post.Writer?.Name</strong></p>
		</div>
	}
</div>