@*
	DDDN.CrossBlog.Blog.Areas.Blog.Views.Home.Index

	Copyright(C) 2017 Lukasz Jaskiewicz
	Author: Lukasz Jaskiewicz (lukasz@jaskiewicz.de, devdone@outlook.com)

	This program is free software; you can redistribute it and/or modify it under the terms of the
	GNU General Public License as published by the Free Software Foundation; version 2 of the License.

	This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
	warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the GNU General Public License for more details.

	You should have received a copy of the GNU General Public License along with this program; if not, write
	to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@inject IViewLocalizer Loc
@model IEnumerable<Post>

@{ ViewData["Title"] = "Newest posts"; }

@foreach (Post post in Model)
{
	<div class="alert alert-secondary">
		<a asp-action="Show" asp-route-id="@post.PostId">
			<h4 class="alert-heading">
				@if (!string.IsNullOrWhiteSpace(post.FirstHeaderText))
				{
					@post.FirstHeaderText
				}
				else if (!string.IsNullOrWhiteSpace(post.AlternativeTitle))
				{
					@post.AlternativeTitle
				}
				else
				{
					@Html.DisplayText("There's no title for this Post. Edit the post to add one.");
				}
			</h4>
		</a>
		@if (!string.IsNullOrWhiteSpace(post.FirstParagraphHtml))
				{
			@post.FirstParagraphHtml
				}
				else if (!string.IsNullOrWhiteSpace(post.AlternativeTeaser))
				{
			@post.AlternativeTeaser
		}
		else
		{
			@Html.DisplayText("There's no teaser for this Post. Edit the post to add one.");
		}
		<hr>
		<p class="mb-0">@post.Writer.Created.ToString("dddd, d MMMM, yyyy", CultureInfo.CurrentCulture) - written by @post.Writer?.Name</p>
	</div>
}
