@*
	DDDN.CrossBlog.Blog.Views.Dashboard.BlogDetails
	Copyright(C) 2017 Lukasz Jaskiewicz (lukasz@jaskiewicz.de)
	- This program is free software; you can redistribute it and/or modify it under the terms of the
	GNU General Public License as published by the Free Software Foundation; version 2 of the License.
	- This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
	warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
	- You should have received a copy of the GNU General Public License along with this program; if not, write
	to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@
@using DDDN.CrossBlog.Blog.Data;
@inject IViewLocalizer Loc
@inject BlogInfo _blogInfo
@{ ViewData["Title"] = Loc["Title"]; }
<div>
	<h2><i class="fa fa-info-circle"></i> @Loc["Header"]</h2>
	<hr />
	<div class="table-border">
		<dl class="dl-horizontal">
			<dt>
				@Loc[nameof(_blogInfo.BlogName)]
			</dt>
			<dd>
				<p>@_blogInfo.BlogName</p>
			</dd>
			<dt>
				@Loc[nameof(Model.BlogSlogan)]
			</dt>
			<dd>
				<p>@_blogInfo.BlogSlogan</p>
			</dd>
			<dt>
				@Loc[nameof(Model.OwnerName)]
			</dt>
			<dd>
				<p>@_blogInfo.OwnerName</p>
			</dd>
			<dt>
				@Loc[nameof(Model.OwnerMail)]
			</dt>
			<dd>
				<p>@_blogInfo.OwnerMail</p>
			</dd>
			<dt>
				@Loc[nameof(Model.Created)]
			</dt>
			<dd>
				<p>@_blogInfo.Created</p>
			</dd>
			<dt>
				@Loc[nameof(Model.Copyright)]
			</dt>
			<dd>
				<p>@_blogInfo.Copyright</p>
			</dd>
			<dt>
				@Loc[nameof(Model.Version)]
			</dt>
			<dd>
				<p>@_blogInfo.Version</p>
			</dd>
		</dl>
		<hr />
		<a asp-action="@nameof(DashboardController.BlogEdit)" data-toggle="tooltip" title="@Loc["LinkEdit"]"><i class="fa fa-edit fa-2x"></i></a>
	</div>
</div>
