@*
	DDDN.CrossBlog.Blog.Views.Dashboard.BlogDetails
	Copyright(C) 2017 Lukasz Jaskiewicz (lukasz@jaskiewicz.de)
	- This program is free software; you can redistribute it and/or modify it under the terms of the
	GNU General Public License as published by the Free Software Foundation; version 2 of the License.
	- This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
	warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
	- You should have received a copy of the GNU General Public License along with this program; if not, write
	to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@model BlogModel
@inject IViewLocalizer Loc

@{ ViewData["Title"] = Loc["Title"]; }

<div>
	<h2>@Loc["Header"]</h2>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Loc[nameof(Model.Name)]
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt>
			@Loc[nameof(Model.Created)]
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Created)
		</dd>
		<dt>
			@Loc[nameof(Model.Copyright)]
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Copyright)
		</dd>
		<dt>
			@Loc[nameof(Model.Version)]
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Version)
		</dd>
	</dl>
	<a asp-action="@nameof(DashboardController.BlogEdit)" asp-route-id="@Model.BlogId" class="btn btn-primary" >@Loc["Edit"]</a>
</div>