@*
	DDDN.CrossBlog.Blog.Views.Dashboard.Categories
	Copyright(C) 2017 Lukasz Jaskiewicz (lukasz@jaskiewicz.de)
	- This program is free software; you can redistribute it and/or modify it under the terms of the
	GNU General Public License as published by the Free Software Foundation; version 2 of the License.
	- This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
	warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
	- You should have received a copy of the GNU General Public License along with this program; if not, write
	to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@model IEnumerable<CategoryModel>
@inject IViewLocalizer Loc

@{ ViewData["Title"] = Loc["Title"]; }

<div>
	<h2><i class="fa fa-inbox"></i> @Loc["Header"]</h2>
	<hr />
	<h4>@Loc["Info"]</h4>
	<p>@Loc["DelRen"]</p>
	<div class="table-border">
		@foreach (var item in Model)
		{
			<button class="btn btn-secondary cb-btn-mb-5" id="@item.CategoryId" onclick="cb_AdminCathIndex_SetIdForDelete(this.id)">@item.Name</button>
		}
	</div>
	<hr hidden id="hrCreateDelete" />
	<form id="formCategories">
		<input hidden type="text" id="CategoryId" name="CategoryId" value="" required>
		<input hidden type="text" id="CategoryName" name="CategoryName" value="" class="form-control category-name" required maxlength="200">
		<button hidden type="submit" id="buttonCategoryName" formaction="CategoriesRename" formmethod="post" class="btn btn-primary">@Loc["ButtonRename"]</button>
		<button hidden type="submit" id="buttonCategoryId" formaction="CategoriesDelete" formmethod="post" class="btn btn-danger">@Loc["ButtonDelete"]</button>
	</form>
	<hr />
	<form id="formValidation" asp-action="CategoriesCreate">
		<div class="form-group">
			<label for="Name">@Loc["Name"]</label>
			<input type="text" id="Name" name="Name" class="form-control" required maxlength="200">
		</div>
		<button type="submit" class="btn btn-primary">@Loc["ButtonCreate"]</button>
	</form>
</div>

	@section Scripts
		{
		<script>
			function cb_AdminCathIndex_SetIdForDelete(caller_id) {
				var categoryText = $('#' + caller_id).text();
				$('#CategoryName').val(categoryText);
				$('#hrCreateDelete').removeAttr('hidden');
				$('#buttonCategoryId').removeAttr('hidden');
				$('#CategoryName').removeAttr('hidden');
				$('#buttonCategoryName').removeAttr('hidden');
				$('#CategoryId').val(caller_id);
			};
		</script>
	}
