@*
	DDDN.CrossBlog.Blog.Views.Dashboard.PostUpload
	Copyright(C) 2017 Lukasz Jaskiewicz (lukasz@jaskiewicz.de)
	- This program is free software; you can redistribute it and/or modify it under the terms of the
	GNU General Public License as published by the Free Software Foundation; version 2 of the License.
	- This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
	warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
	- You should have received a copy of the GNU General Public License along with this program; if not, write
	to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@inject IViewLocalizer Loc

@{	ViewData["Title"] = Loc["Title"]; }

<div>
	<h2><i class="fa fa-newspaper-o"></i> @Loc["Header"]</h2>
	<hr />
	<h4>@Loc["Info"]</h4>
	<form id="formValidation" asp-action="PostUpload" enctype="multipart/form-data">
		<div class="form-group">
			<label for="Files">@Loc["Files"]</label>
			<input type="file" id="Files" name="Files" class="form-control-file" required>
		</div>
		<hr />
		<button type="submit" class="btn btn-primary">@Loc["ButtonSubmit"]</button>
		<a asp-action="@nameof(DashboardController.Posts)" class="btn btn-secondary">@Loc["LinkPosts"]</a>
	</form>
</div>