@*
	DDDN.CrossBlog.Blog.Views.Dashboard.WriterDetails
	Copyright(C) 2017 Lukasz Jaskiewicz (lukasz@jaskiewicz.de)
	- This program is free software; you can redistribute it and/or modify it under the terms of the
	GNU General Public License as published by the Free Software Foundation; version 2 of the License.
	- This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
	warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
	- You should have received a copy of the GNU General Public License along with this program; if not, write
	to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@inject IViewLocalizer Loc
@model WriterViewModel

@{	ViewData["Title"] = Loc["Title"]; }

<div>
	<h2><i class="fa fa-user"></i> @Loc["Header"]</h2>
	<hr />
	@{ await Html.RenderPartialAsync("WriterInfoPartialView", Model); }
	<hr />
	<a asp-action="@nameof(DashboardController.WriterEdit)" asp-route-id="@Model.WriterId" data-toggle="tooltip" title="@Loc["LinkEdit"]"><i class="fa fa-edit fa-2x"></i></a>
	<a asp-action="@nameof(DashboardController.WriterPassword)" asp-route-id="@Model.WriterId" data-toggle="tooltip" title="@Loc["LinkPassword"]"><i class="fa fa-key fa-2x"></i></a>
	<a asp-action="@nameof(DashboardController.Writers)" data-toggle="tooltip" title="@Loc["LinkWriters"]"><i class="fa fa-list fa-2x"></i></a>
</div>