@*
	DDDN.CrossBlog.Blog.Views.Dashboard.WriterPassword
	Copyright(C) 2017 Lukasz Jaskiewicz (lukasz@jaskiewicz.de)
	- This program is free software; you can redistribute it and/or modify it under the terms of the
	GNU General Public License as published by the Free Software Foundation; version 2 of the License.
	- This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
	warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
	- You should have received a copy of the GNU General Public License along with this program; if not, write
	to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@model PasswordViewModel
@inject IViewLocalizer Loc

@{ ViewData["Title"] = Loc["Title"]; }

<div>
	<form id="formValidation" class="form-signin" asp-action="@nameof(DashboardController.WriterPasswordConfirmed)">
		<h2 class="form-signin-heading">@Loc["Header"]</h2>
		<input hidden asp-for="@Model.WriterId" />
		<label asp-for="@Model.Old" class="sr-only">@Loc[nameof(Model.Old)]</label>
		<input type="password" asp-for="@Model.Old" class="form-control" required autofocus>
		<label asp-for="@Model.New" class="sr-only">@Loc[nameof(Model.New)]</label>
		<input type="password" asp-for="@Model.New" class="form-control" required autofocus>
		<label asp-for="@Model.Compare" class="sr-only">@Loc[nameof(Model.Compare)]</label>
		<input type="password" asp-for="@Model.Compare" class="form-control" required autofocus>
		<button class="btn btn-lg btn-success btn-block" type="submit">@Loc["ButtonChange"]</button>
		<a asp-action="@nameof(DashboardController.Writers)" class="btn btn-warning">@Loc["LinkCancel"]</a>
	</form>
</div>