@*
	DDDN.CrossBlog.Blog.Views.Shared._LayoutDashboard
	Copyright(C) 2017 Lukasz Jaskiewicz (lukasz@jaskiewicz.de)
	- This program is free software; you can redistribute it and/or modify it under the terms of the
	GNU General Public License as published by the Free Software Foundation; version 2 of the License.
	- This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
	warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
	- You should have received a copy of the GNU General Public License along with this program; if not, write
	to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@inject IViewLocalizer Loc

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="~/images/favicon.ico">
	<title>CrossBlog - @ViewData["Title"]</title>
	<link href="~/css/dashboard.bundle.min.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" asp-action="@nameof(DashboardController.Posts)"><i class="fa fa-dashboard"></i> CROSSBLOG</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a asp-controller="Blog" asp-action="Newest" class="nav-item nav-link"><i class="fa fa-user"></i> @Loc["Blog"]</a>
				<a asp-controller="Dashboard" asp-action="BlogDetails" class="nav-item nav-link"><i class="fa fa-info-circle"></i> @Loc["Info"]</a>
				<a asp-controller="Dashboard" asp-action="Writers" class="nav-item nav-link"><i class="fa fa-user"></i> @Loc["Writers"]</a>
				<a asp-controller="Dashboard" asp-action="Posts" class="nav-item nav-link"><i class="fa fa-file-text"></i> @Loc["Posts"]</a>
				<a asp-controller="Dashboard" asp-action="Categories" class="nav-item nav-link"><i class="fa fa-file-text"></i> @Loc["Categories"]</a>
				<a asp-controller="Dashboard" asp-action="Logout" class="nav-item nav-link"><i class="fa fa-file-text"></i> @Loc["Logout"]</a>
			</div>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<main class="col-md-12 col" id="main">
				<div class="p-5">
					@RenderBody()
				</div>
			</main>
		</div>
	</div>
	<script src="~/js/dashboard.body.bundle.min.js"></script>

	@if (CultureInfo.CurrentCulture.TwoLetterISOLanguageName != "en")
	{
		<script src="@Url.Content($"~/js/localization/messages_{CultureInfo.CurrentCulture.TwoLetterISOLanguageName}.js")"></script>
	}
	@RenderSection("Scripts", required: false)
</body>
</html>