@*
	DDDN.CrossBlog.Blog.Views.Shared._LayoutBlog
	Copyright(C) 2017 Lukasz Jaskiewicz (lukasz@jaskiewicz.de)
	- This program is free software; you can redistribute it and/or modify it under the terms of the
	GNU General Public License as published by the Free Software Foundation; version 2 of the License.
	- This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
	warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
	- You should have received a copy of the GNU General Public License along with this program; if not, write
	to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@
@using DDDN.CrossBlog.Blog.Data
@inject BlogInfo blogInfo
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="~/images/favicon.ico">
	<title>CrossBlog - @ViewData["Title"]</title>
	<environment include="Development">
		<link href="~/styles/font-awesome.css" rel="stylesheet">
		<link href="~/styles/bootstrap.css" rel="stylesheet">
		<link href="~/styles/blog.css" rel="stylesheet">
	</environment>
	<environment exclude="Development">
		<link href="~/css/blog.bundle.min.css" rel="stylesheet">
	</environment>
	@RenderSection("Styles", required: false)
</head>
<body>
	<div class="bg-article"></div>
	<div class="container p-0">
		<nav class="navbar navbar-expand-md navbar-light">
			<div class="navbar-header">
				<a asp-controller="Blog" asp-action="@nameof(BlogController.Newest)" asp-route-id="" class="navbar-brand">
					<h1><strong>@blogInfo.BlogName</strong></h1>
					<h5>@blogInfo.BlogSlogan</h5>
				</a>
				<button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarBlog">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse justify-content-end" id="navbarBlog">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a asp-controller="Blog" asp-action="@nameof(BlogController.Newest)" asp-route-id="" class="nav-link">Home</a>
					</li>
					<li class="nav-item">
						<a asp-controller="Blog" asp-action="@nameof(BlogController.Archive)" asp-route-id="" class="nav-link">Archive</a>
					</li>
					<li class="nav-item">
						<a asp-controller="Blog" asp-action="@nameof(BlogController.Categories)" asp-route-id="" class="nav-link">Categories</a>
					</li>
					<li class="nav-item">
						<a asp-controller="Blog" asp-action="@nameof(BlogController.About)" asp-route-id="" class="nav-link">About</a>
					</li>
					@if (Context.User.Identity.IsAuthenticated)
					{
						<li class="nav-item">
							<a asp-controller="Dashboard" asp-action="@nameof(DashboardController.Posts)" class="nav-link"><i class="fa fa-dashboard"></i></a>
						</li>
					}
					<environment include="Development">
						<li class="nav-item dropdown">
							<a asp-controller="Blog" data-toggle="dropdown" asp-action="@nameof(BlogController.Newest)" cla class="nav-link dropdown-toggle">I10N</a>
							<div class="dropdown-menu">
								@{ await Html.RenderPartialAsync("CulturesPartialView"); }
							</div>
						</li>
					</environment>
				</ul>
			</div>
		</nav>
		<main class="main">
			@RenderBody()
		</main>
		<footer>
			<p><small>@blogInfo.Copyright</small><a asp-controller="Dashboard" asp-action="@nameof(DashboardController.Posts)"> <i class="fa fa-dashboard"></i></a></p>
		</footer>
	</div>
	<environment include="Development">
		<script src="~/scripts/jquery.js"></script>
		<script src="~/scripts/popper.js"></script>
		<script src="~/scripts/bootstrap.js"></script>
		<script src="~/scripts/common.js"></script>
		<script src="~/scripts/blog.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/js/blog.body.bundle.min.js"></script>
	</environment>
	@RenderSection("Scripts", required: false)
</body>
</html>