@*
	DDDN.CrossBlog.Blog.Views.Shared._LayoutDashboard
	Copyright(C) 2017 Lukasz Jaskiewicz (lukasz@jaskiewicz.de)
	- This program is free software; you can redistribute it and/or modify it under the terms of the
	GNU General Public License as published by the Free Software Foundation; version 2 of the License.
	- This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
	warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
	- You should have received a copy of the GNU General Public License along with this program; if not, write
	to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@
@inject IViewLocalizer Loc
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="~/images/favicon.ico">
	<title>CrossBlog - @ViewData["Title"]</title>
	<environment include="Development">
		<link href="~/styles/font-awesome.css" rel="stylesheet">
		<link href="~/styles/bootstrap.css" rel="stylesheet">
		<link href="~/styles/dashboard.css" rel="stylesheet">
	</environment>
	<environment exclude="Development">
		<link href="~/css/dashboard.bundle.min.css" rel="stylesheet">
	</environment>
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-primary">
			<a class="navbar-brand text-white" asp-action="@nameof(DashboardController.Posts)"><i class="fa fa-dashboard"></i> CROSSBLOG</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<ul class="navbar-nav">
					@if (Context.User.Identity.IsAuthenticated)
					{
						<li class="nav-item">
							<a asp-controller="Dashboard" asp-action="BlogDetails" class="nav-link text-white"><i class="fa fa-info-circle"></i> @Loc["Info"]</a>
						</li>
						<li class="nav-item">
							<a asp-controller="Dashboard" asp-action="Writers" class="nav-link text-white"><i class="fa fa-users"></i> @Loc["Writers"]</a>
						</li>
						<li class="nav-item">
							<a asp-controller="Dashboard" asp-action="Posts" class="nav-link text-white"><i class="fa fa-newspaper-o"></i> @Loc["Posts"]</a>
						</li>
						<li class="nav-item">
							<a asp-controller="Dashboard" asp-action="Categories" class="nav-link text-white"><i class="fa fa-inbox"></i> @Loc["Categories"]</a>
						</li>
					}
					<environment include="Development">
						<li class="nav-item dropdown">
							<a asp-controller="Dashboard" data-toggle="dropdown" asp-action="@nameof(DashboardController.Posts)" cla class="nav-link dropdown-toggle text-white">I10N</a>
							<div class="dropdown-menu">
								@{ await Html.RenderPartialAsync("CulturesPartialView"); }
							</div>
						</li>
					</environment>
				</ul>
				<div class="navbar-nav cb-pull-nav-link">
					<a asp-controller="Blog" asp-action="Newest" class="nav-item nav-link text-white"><i class="fa fa-desktop"></i> @Loc["Blog"]</a>
					@if (Context.User.Identity.IsAuthenticated)
					{
						<a asp-controller="Dashboard" asp-action="Logout" class="nav-item nav-link text-white"><i class="fa fa-sign-out"></i> @Loc["Logout"]</a>
						var userName = User.Claims.Where(p => p.Type.Equals(ClaimTypes.Name)).FirstOrDefault().Value;
						var userId = User.Claims.Where(p => p.Type.Equals(ClaimTypes.NameIdentifier)).FirstOrDefault().Value;
						<a asp-action="@nameof(DashboardController.WriterDetails)" asp-route-id="@userId" class="nav-item nav-link text-white"><i class="fa fa-user-circle"></i> @userName</a>
					}
				</div>
			</div>
		</nav>
		<div class="row">
			<main class="col-md-12 col" id="main">
				<div class="p-5">
					@RenderBody()
				</div>
			</main>
		</div>
	</div>
	<environment include="Development">
		<script src="~/scripts/jquery.js"></script>
		<script src="~/scripts/jquery.validate.js"></script>
		<script src="~/scripts/popper.js"></script>
		<script src="~/scripts/bootstrap.js"></script>
		<script src="~/scripts/common.js"></script>
		<script src="~/scripts/dashboard.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/js/dashboard.body.bundle.min.js"></script>
	</environment>
	@if (CultureInfo.CurrentCulture.TwoLetterISOLanguageName != "en")
	{
		<environment include="Development">
			<script src="@Url.Content($"~/scripts/localization/messages_{CultureInfo.CurrentCulture.TwoLetterISOLanguageName}.js")"></script>
		</environment>
		<environment exclude="Development">
			<script src="@Url.Content($"~/js/localization/messages_{CultureInfo.CurrentCulture.TwoLetterISOLanguageName}.js")"></script>
		</environment>
	}
	@RenderSection("Scripts", required: false)
</body>
</html>