@*
	DDDN.CrossBlog.Blog.Views.Shared._LayoutBlog
	Copyright(C) 2017 Lukasz Jaskiewicz (lukasz@jaskiewicz.de)
	- This program is free software; you can redistribute it and/or modify it under the terms of the
	GNU General Public License as published by the Free Software Foundation; version 2 of the License.
	- This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
	warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
	- You should have received a copy of the GNU General Public License along with this program; if not, write
	to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@using DDDN.CrossBlog.Blog.Data
@inject BlogInfo blogInfo
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
	<link rel="icon" href="~/images/favicon.ico">
	<title>CrossBlog - @ViewData["Title"]</title>
	<environment include="Development">
		<link href="~/styles/font-awesome.css" rel="stylesheet">
		<link href="~/styles/bootstrap.css" rel="stylesheet">
		<link href="~/styles/blog.css" rel="stylesheet">
	</environment>
	<environment exclude="Development">
		<link href="~/css/blog.bundle.min.css" rel="stylesheet">
	</environment>
	@RenderSection("Styles", required: false)
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-expand-md navbar-light">
			<a asp-controller="Blog" asp-action="@nameof(BlogController.Newest)" asp-route-id="" class="navbar-brand"><h2>CrossBlog</h2></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarBlog" aria-controls="navbarBlog" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarBlog">
				<ul class="navbar-nav mr-auto"></ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a asp-controller="Blog" asp-action="@nameof(BlogController.Newest)" asp-route-id="" class="nav-item nav-link">Home</a>
					</li>
					<li class="nav-item">
						<a asp-controller="Blog" asp-action="@nameof(BlogController.Archive)" asp-route-id="" class="nav-item nav-link">Archive</a>
					</li>
					<li class="nav-item">
						<a asp-controller="Blog" asp-action="@nameof(BlogController.About)" asp-route-id="" class="nav-item nav-link">About</a>
					</li>
					@if (Context.User.Identity.IsAuthenticated)
					{
						<li class="nav-item">
							<a asp-controller="Dashboard" asp-action="@nameof(DashboardController.Posts)" class="nav-item nav-link"><i class="fa fa-dashboard"></i></a>
						</li>
					}
				</ul>
			</div>
		</nav>
		<main class="main">
			@RenderBody()
		</main>
		<footer>
			<p><small>@blogInfo.Copyright</small><a asp-controller="Dashboard" asp-action="@nameof(DashboardController.Posts)"> <i class="fa fa-dashboard"></i></a></p>
		</footer>
	</div>
	<environment include="Development">
		<script src="~/scripts/jquery.js"></script>
		<script src="~/scripts/popper.js"></script>
		<script src="~/scripts/bootstrap.js"></script>
		<script src="~/scripts/common.js"></script>
		<script src="~/scripts/blog.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/js/blog.body.bundle.min.js"></script>
	</environment>
	@RenderSection("Scripts", required: false)
</body>
</html>