@*
	DDDN.CrossBlog.Blog.Areas.Dashboard.Views.BlogInfo.Edit

	Copyright(C) 2017 Lukasz Jaskiewicz
	Author: Lukasz Jaskiewicz (lukasz@jaskiewicz.de, devdone@outlook.com)

	This program is free software; you can redistribute it and/or modify it under the terms of the
	GNU General Public License as published by the Free Software Foundation; version 2 of the License.

	This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
	warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the GNU General Public License for more details.

	You should have received a copy of the GNU General Public License along with this program; if not, write
	to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@inject IViewLocalizer Loc
@model DDDN.CrossBlog.Blog.Areas.Dashboard.Model.BlogInfoView

@{
	ViewData["Title"] = Loc["EditBlog"];
}

<h2 class="pb-2">@Loc["EditBlog"]</h2>
<hr />
<form id="formValidation" asp-action="Edit">
	<input type="hidden" asp-for="BlogInfoId" />
	<div class="form-group">
		<label for="Name">@Loc["State"]</label>
		<select asp-for="State" asp-items="Model.States" class="form-control" required></select>
	</div>
	<div class="form-group">
		<label for="BlogInfoName">@Loc["BlogInfoName"]</label>
		<input type="text" asp-for="BlogInfoName" class="form-control" required maxlength="200">
	</div>
	<div class="form-group">
		<label for="BlogInfoCopyright">@Loc["BlogInfoCopyright"]</label>
		<input type="text" asp-for="BlogInfoCopyright" class="form-control" required maxlength="200">
	</div>
	<button type="submit" class="btn btn-primary">@Loc["BlogSave"]</button>
</form>
<hr />
<a asp-action="Index">Back to List</a>