@*
DDDN.CrossBlog.Blog.Areas.Blog.Views.Shared._Layout

Copyright(C) 2017 Lukasz Jaskiewicz
Author: Lukasz Jaskiewicz (lukasz@jaskiewicz.de, devdone@outlook.com)

This program is free software; you can redistribute it and/or modify it under the terms of the
GNU General Public License as published by the Free Software Foundation; version 2 of the License.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with this program; if not, write
to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@using DDDN.CrossBlog.Blog.Routing
@using System.Globalization

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/images/favicon.ico">
    <title>CrossBlog</title>

    <link href="~/css/blog.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
        <a href="/" class="navbar-brand d-flex w-50 mr-auto">Brand</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsingNavbar3">
            <ul class="navbar-nav mx-auto w-100 justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link active" href="@Url.RouteUrl(RouteNames.Default, new { Action = "Index", culture = @CultureInfo.CurrentCulture.Name })"><i class="fa fa-anchor" aria-hidden="true"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.RouteUrl(RouteNames.Default, new { Action = "Newest", culture = @CultureInfo.CurrentCulture.Name })"><i class="fa fa-anchor" aria-hidden="true"></i> Newest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.RouteUrl(RouteNames.Default, new { Action = "Archive", culture = @CultureInfo.CurrentCulture.Name })"><i class="fa fa-anchor" aria-hidden="true"></i> Archive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.RouteUrl(RouteNames.Default, new { Action = "About", culture = @CultureInfo.CurrentCulture.Name })"><i class="fa fa-anchor" aria-hidden="true"></i> About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#">Right</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Right</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Right</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="sidebar p-2">Sidebar</div>
            <div class="col bg-dark text-white pt-2">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/js/bodyDefault.min.js"></script>
</body>
</html>
