@*
   DDDN.CrossBlog.Blog.Areas.Dashboard.Views.Posts.Edit

   Copyright(C) 2017 Lukasz Jaskiewicz
   Author: Lukasz Jaskiewicz (lukasz@jaskiewicz.de, devdone@outlook.com)

   This program is free software; you can redistribute it and/or modify it under the terms of the
   GNU General Public License as published by the Free Software Foundation; version 2 of the License.

   This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
   warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the GNU General Public License for more details.

   You should have received a copy of the GNU General Public License along with this program; if not, write
   to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*@

@model PostView
@inject IViewLocalizer Loc
@{
	ViewData["Title"] = "Edit";
}
<h2 class="pb-2">@Loc["EditPost"]</h2>
<hr />
<div class="row">
	<div class="col-md-4">
		<form id="formValidation" asp-action="Edit">
			<input type="hidden" asp-for="PostId" />
			<div class="form-group">
				<label asp-for="State"></label>
				<select asp-for="State" asp-items="@Model.States" class="form-control" required></select>
			</div>
			<div class="form-group">
				<label asp-for="Categories"></label>
				<select name="Categories" id="Categories" multiple="multiple" class="form-control">
					@foreach (var cat in @Model.Categories)
					{
						if (cat.Selected)
						{
							<option value="@cat.Value" selected>@cat.Text</option>
						}
						else
						{
							<option value="@cat.Value">@cat.Text</option>
						}
					}
				</select>
			</div>
			<div class="alert alert-secondary">
				<p class="alert-heading">@Loc["FirstHeaderText"]</p>
				<p>@Model.FirstHeaderText</p>
			</div>
			<div class="form-group">
				<label asp-for="AlternativeTitleText"></label>
				<textarea id="AlternativeTitleText" name="AlternativeTitleText" class="form-control disabled" rows="10">@Model.AlternativeTitleText</textarea>
			</div>
			<div class="alert alert-secondary">
				<p class="alert-heading">@Loc["FirstParagraphHtml"]</p>
				@Html.Raw(WebUtility.HtmlDecode((string)Model.FirstParagraphHtml))
			</div>
			<div class="form-group">
				<label asp-for="AlternativeTeaserText"></label>
				<textarea id="AlternativeTeaserText" name="AlternativeTeaserText" class="form-control disabled" rows="10">@Model.AlternativeTeaserText</textarea>
			</div>
			<input type="submit" value="@Loc["SavePost"]" class="btn btn-default" />
		</form>
	</div>
</div>
<div>
	<a asp-action="Index">Back to List</a>
</div>
